<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>ClientesApp</title>
</head>

<body>
	<h1> Cadastro de Clientes</h1>
	<form method="post">
		Nome:<input type="text" value="" name="nome"/>
		E-mail:<input type="text" value="" name="email"/>
		Telefone:<input type="text" value="" name="telefone"/>
		
		<button type="submit">Salvar</button>
		
		
	</form>
	
	<h3><a href="/clientes">Lista de Cliente</a></h3>

</body>
</html>