
html {font-size: 20px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */ 
    font-family: "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */ 
}
body{
    background-color:#9e9e9e;
}
h2 {
    font-style: italic;
    letter-spacing: 1px;
    color: #3949ab;
    font-size: 20px;
    text-align: left;
  }
  h3 {
    font-style: italic;
    letter-spacing: 1px;
    color: #c62828;
    font-size: 15px;
    text-align: justify;
  }
  p{
    text-align: justify;  
  }
  

  