<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>ClientesApp</title>
</head>

<body>
	<h1> Cadastro de Funcionários</h1>
	<form method="post">
		Nome:<input type="text" value="" name="nome"/>
		Funcao:<input type="text" value="" name="funcao"/>
		Salario:<input type="text" value="" name="salario"/>
		Senha:<input type="text" value="" name="senha"/>
		
		<button type="submit">Salvar</button>
		
		
	</form>
	
	<h3><a href="/Funcionarios">Lista de Funcionarios</a></h3>

</body>
</html>