<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>ClientesApp</title>
</head>

<body>
	<h1> Cadastro de Pedidos</h1>
	<form method="post">
		Data:<input type="date" value="" name="data"/>
		Valor total:<input type="text" value="" name="valorTotal"/>
		Codigo Cliente:<input type="text" value="" name="fk_cliente"/>
		Codigo Funcinario:<input type="text" value="" name="fk_func"/>
		
		<button type="submit">Salvar</button>
		
		
	</form>
	
	

</body>
</html>